<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Home</title> 
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
    <link rel="manifest" href="/images/site.webmanifest" />

    <link rel="stylesheet" href="/css/style.css" />
    <link href="/fonts/css/all.min.css" rel="stylesheet" />
    <script src="/js/script.js" defer></script>
  </head>
  <body>
    <%- include('partials/header') %>
    <h1 class="h">Welcome to the Blog!</h1>
    
    <div class="home-container">
      <% if (posts.length > 0) { %> <% posts.forEach(post => { %>
      <div class="post-container">
        <h2><a href="/posts/<%= post.id %>"><%= post.title %></a></h2>
        <p><%- post.body.substring(0, 200) %>...</p>
        <!-- Link to view full post would go here -->
      </div>
      <% }) %> <% } else { %>
      <p class="p">No posts to display</p>
      <% } %>
    </div>
    <%- include('partials/footer') %>
  </body>
</html>
